@charset "utf-8";
@import url('reset.css');
@import url('contents.css');

#header:after, #footer:after{content:'';display:block;clear:both;}
.en{font-family:'Poppins',sans-serif;}
.kor{font-family:'Noto Sans KR',sans-serif;}
