.tti_banner{width:100%;height:35px;line-height:35px;background-color:#111;text-align:center;color:#fff;}
.tti_banner_text{color:#fff;}

.logo{float:left;width:200px;padding-top:15px;margin-left:70px;padding-bottom:15px;height:60px;box-sizing:border-box;}
.logo img{width:100%}

.header{width:100%;top:0;left:0;z-index:10;border-bottom:solid 1px #111;}
.header:after{content:'';display:block;clear:both;}
.header_left{float:left;}
.category_menu{float:left;margin-left:30px;}
.category_menu a{font-size:14px;padding:23px 15px;display:inline-block}
.category_menu a:first-child{padding-left:0;}
.header_sub_menu{float:right;padding-top:22px;padding-right:70px;}
.header_sub_menu div{float:left;font-size:14px;line-height:18px;color:#111;padding:0 15px}
.header_icon_box span{color:red}
.header_icon_box img{float:left;height:14px;margin-top:2px;}
.header_icon_box a{float:left;margin-left:10px;}
.header_icon_box a:first-child{margin-left:0}

.main_visual{}
.main_visual img{width:100%;}
a {text-decoration:none ; color:#111}
a:hover {text-decoration:none ; color:#111}

.center_text{padding-top:100px;text-align:center;}
.center_text p {text-align:center;padding-top:15px;}
.center_text p:first-child{font-size:20px;padding-top:0;padding-bottom:15px;}
.center_text img{padding-top:15px;}
.center_banner{padding-top:50px;padding-bottom:100px;font-size:14px;}
.center_banner:after{content:'';display:block;clear:both;}
.center_banner ul{padding-right:70px;}
.center_banner .list{width:33.333333%;float:left;box-sizing:border-box;padding-left:70px;}
.center_banner .list:first-child{}
.center_banner .list .list_box{}
.center_banner .list img{width:100%;}
.center_banner .text{}
.center_banner .text p{padding-top:10px;}
.center_banner .text p:first-child span{font-weight:normal;}
.center_banner .text p:first-child{font-weight:700;padding-top:40px;}

.flag_banner{background-image:url(../img/flagbanner.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;background-attachment:fixed;font-size:14px;}
.flag_banner p{text-align:center;padding-top:15px;}
.flag_banner p:first-child{font-weight:700;padding-top:100px;font-size:18px;}
.flag_banner p:last-child{padding-bottom:100px;}

.last_banner{width:100%;font-size:14px;}
.last_banner:after{content:'';display:block;clear:both;}
.last_banner .list{width:50%;float:left;box-sizing:border-box;position:relative;}
.last_banner .list img{float:left;width:100%;}
.last_banner .list_text_1{position:absolute;color:#fff;text-align:right;top:90%;right:3%;font-weight:700;}
.last_banner .list_text_2{position:absolute;color:#fff;text-align:left;top:90%;left:3%;font-weight:700;}

.footer{float:left;width:100%;padding:65px 55px;background-color:#fff;position:relative;box-sizing:border-box;background-color:#f8f8f8;font-size:14px;}

.infor_box dl{float:left;width:23%;}
.infor_box dl dt{margin-bottom:19px;font-weight:700;}
.infor_box dl dd{font-size:14px;line-height:20px;color:#444;}
.infor_box dl:last-child{width:31%;}

.infor_box{float:left;width:60%;box-sizing:border-box;}
.address{float:left;width:37%;box-sizing:border-box;margin-left:3%;}

.address dl{}
.address dl dt{margin-bottom:19px;font-weight:700;}
.address dl dd{font-size:14px;line-height:20px;color:#444;}
.infor_flag{padding-top:15px;font-size:16px;font-weight:700;}

.quickmenu{position:fixed;right:25px;bottom:20px;z-index:50;}
.quickmenu ul li{list-style:none;padding:5px;}

/* 제품 리스트 페이지 */
.product_contents{margin-top:75px;padding:0 70px;box-sizing:border-box;}
.product_contents .side_menu{float:left;width:300px;position:relative;z-index:20;}
.menu_depth1{}
.menu_depth1 .title{height:38px;}
.menu_depth1 ul{margin-left:6px;}
.menu_depth1 ul li{line-height:40px;border-bottom:solid 1px #dcdcdc;padding-left:8px;margin-right:30px;position:relative;}
.menu_depth1 ul li:first-child{border-top:solid 1px #dcdcdc;}
.menu_depth1 > ul > li:last-child{margin-bottom:49px;}
.menu_depth1 ul ul li:last-child{border-bottom:none;}
.menu_depth1 ul ul li{margin:0;border-bottom:solid 1px #dcdcdc}
.menu_depth1 ul ul li:first-child{border-top:solid 1px #dcdcdc;}
.menu_depth1 ul li .plus_btn{width:20px;height:20px;position:absolute;top:10px;right:7px;cursor:pointer;}
.menu_depth1 ul li .plus_btn:before{content:'';display:block;clear:both;position:absolute;top:6px;right:9px;width:1px;height:7px;background-color:#333}
.menu_depth1 ul li .plus_btn:after{content:'';display:block;clear:both;position:absolute;top:9px;right:6px;width:7px;height:1px;background-color:#333}

.product_list_box{width:100%;padding-left:300px;position:relative;box-sizing:border-box;}
.product_list_box .product_banner{}
.product_list_box .product_banner img{width:100%;}
.product_list_box .product_list{}
.product_list_box .product_list .product_category{float:left;width:100%;margin-top:80px;}
.product_list_box .product_list .product_category:after{content:'';display:block;clear:both;}
.product_list_box .product_list .product_category .title{float:left;font-weight:700;line-height:24px;}
.product_list_box .product_list .product_category ul{float:right;}
.product_list_box .product_list .product_category ul li{font-size:12px;float:left;line-height:24px;}
.product_list_box .product_list .product_category ul li:after{content:'/';display:inline-block;padding:0 10px;}
.product_list_box .product_list .product_category ul li:last-child:after{display:none;}

.product_list_box{float:left;margin-top:40px;margin:40px -.5% 0 -.5%}
.product_list_box li{float:left;width:32.3333%;position:relative;margin:0 .5% 1% .5%}
.product_list_box li .icon{position:absolute;top:10px;right:10px;z-index:20;}
.product_list_box li .product_infor{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgb(0,0,0,.4);}
.product_list_box li .product_infor a{display:table;width:100%;height:100%}
.product_list_box li .product_infor a .product_name{display:table-cell;vertical-align:bottom;font-size:12px;font-weight:500;padding:20px}
.product_list_box li .product_infor a .product_name p{line-height:18px;}
.product_list_box li .product_infor a .product_name p,
.product_list_box li .product_infor a .product_name p span{color:#fff;}
.product_list_box li .product_infor a .product_name p:first-child + p{margin-top:20px;}
.product_list_box li .product_infor a .product_name p:first-child + p + p + p{margin-top:20px;}
.product_list_box li .product_img{}
.product_list_box li .product_img img{width:100%;}
.product_list_box li .icon,
.product_list_box li .product_infor{transition:.6s;opacity:0;}
.product_list_box li:hover .icon,
.product_list_box li:hover .product_infor{opacity:1;}
