.tti_banner{width:100%;height:35px;line-height:35px;background-color:#111;text-align:center;color:#fff;}
.tti_banner_text{color:#fff;}

.logo{float:left;width:200px;padding-top:15px;margin-left:70px;padding-bottom:15px;height:60px;box-sizing:border-box;}
.logo img{width:100%}

.header{width:100%;top:0;left:0;z-index:10;}
.header:after{content:'';display:block;clear:both;}
.header_left{float:left;}
.category_menu{float:left;margin-left:30px;}
.category_menu a{font-size:14px;padding:23px 15px;display:inline-block}
.category_menu a:first-child{padding-left:0;}
.header_sub_menu{float:right;padding-top:22px;padding-right:70px;}
.header_sub_menu div{float:left;font-size:14px;line-height:18px;color:#111;padding:0 15px}
.header_icon_box span{color:red}
.header_icon_box img{float:left;height:14px;margin-top:2px;}
.header_icon_box a{float:left;margin-left:10px;}
.header_icon_box a:first-child{margin-left:0}

.main_visual{}
.main_visual img{width:100%;}
a {text-decoration:none ; color:#111}
a:hover {text-decoration:none ; color:#111}

.center_text{padding-top:100px;text-align:center;}
.center_text p {text-align:center;padding-top:15px;}
.center_text p:first-child{font-size:20px;padding-top:0;padding-bottom:15px;}
.center_text img{padding-top:15px;}
.center_banner{padding-top:50px;padding-bottom:100px;font-size:14px;}
.center_banner:after{content:'';display:block;clear:both;}
.center_banner ul{padding-right:70px;}
.center_banner .list{width:33.333333%;float:left;box-sizing:border-box;padding-left:70px;}
.center_banner .list:first-child{}
.center_banner .list .list_box{}
.center_banner .list img{width:100%;}
.center_banner .text{}
.center_banner .text p{padding-top:10px;}
.center_banner .text p:first-child span{font-weight:normal;}
.center_banner .text p:first-child{font-weight:700;padding-top:40px;}

.flag_banner{background-image:url(../img/flagbanner.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;background-attachment:fixed;font-size:14px;}
.flag_banner p{text-align:center;padding-top:15px;color:#fff;}
.flag_banner p .en{color:#fff;}
.flag_banner p:first-child{font-weight:700;padding-top:100px;font-size:18px;}
.flag_banner p:last-child{padding-bottom:100px;}

.last_banner{width:100%;font-size:14px;}
.last_banner:after{content:'';display:block;clear:both;}
.last_banner .list{width:50%;float:left;box-sizing:border-box;position:relative;}
.last_banner .list img{float:left;width:100%;}
.last_banner .list_text_1{position:absolute;color:#fff;text-align:right;top:90%;right:3%;}
.last_banner .list_text_2{position:absolute;color:#fff;text-align:left;top:90%;left:3%;}

.footer{float:left;width:100%;padding:54px 70px;background-color:#fff;position:relative;box-sizing:border-box;background-color:#f8f8f8;font-size:14px;}

.infor_box dl{float:left;width:23%;}
.infor_box dl dt{margin-bottom:19px;font-weight:700;}
.infor_box dl dd{font-size:14px;line-height:20px;color:#444;}
.infor_box dl:last-child{width:31%;}

.infor_box{float:left;width:60%;box-sizing:border-box;}


.address{float:left;width:37%;box-sizing:border-box;margin-left:3%;}
.address dl{}
.address dl dt{margin-bottom:19px;font-weight:700;}
.address dl dd{font-size:14px;line-height:20px;color:#444;}

.address .pay_img{padding-top:10px;display:inline-block;}
.address .pay_img img {width:30px;}


.infor_flag{padding-top:15px;font-size:16px;font-weight:700;}


.quickmenu{position:fixed;right:25px;bottom:20px;z-index:50;}
.quickmenu ul li{list-style:none;padding:5px;}:#fff;

/* 제품 리스트 페이지 */
.container{width:100%;padding-top:70px;padding-left:70px;}
.product_contents{margin-top:75px;padding:0 70px;box-sizing:border-box;}
.side_menu{float:left;width:300px;position:relative;z-index:20;}
.product_contents .side_menu{width:300px;}
.lookbook_contents{position:relative;}
.lookbook_contents .side_menu{position:absolute;top:75px;left:70px;}
.swiper-container.lookbook_collection{width:100%;height:100%}
.swiper-container.lookbook_collection .swiper-slide{text-align:center;font-size:18px;background:#fff;width:60%;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.swiper-container.lookbook_collection .swiper-slide:nth-child(1) {margin-left:500px;}
.swiper-container.lookbook_collection .swiper-slide .name{font-family:'Poppins',sans-serif;position:absolute;top:50px;left:0}
.swiper-container.lookbook_collection .swiper-slide .img{padding:50px 20px;box-sizing:border-box;}
.swiper-container.lookbook_collection .swiper-slide .img img{height:100%;}
.progress_cont{width:100%;height:5px;position:relative;}
.progress_cont .progress_bar{height:5px;background-color:#000;position:absolute;top:0;left:0;width:0%;}

.menu_depth1{}
.menu_depth1 .title{height:38px;}
.menu_depth1 ul{margin-left:6px;}
.menu_depth1 ul li{line-height:40px;border-bottom:solid 1px #dcdcdc;padding-left:8px;margin-right:30px;position:relative;}
.menu_depth1 ul li:first-child{border-top:solid 1px #dcdcdc;}
.menu_depth1 > ul > li:last-child{margin-bottom:49px;}
.menu_depth1 ul ul li:last-child{border-bottom:none;}
.menu_depth1 ul ul li{margin:0;border-bottom:solid 1px #dcdcdc}
.menu_depth1 ul ul li:first-child{border-top:solid 1px #dcdcdc;}
.menu_depth1 ul li .plus_btn{width:20px;height:20px;position:absolute;top:10px;right:7px;cursor:pointer;}
.menu_depth1 ul li .plus_btn:before{content:'';display:block;clear:both;position:absolute;top:6px;right:9px;width:1px;height:7px;background-color:#333}
.menu_depth1 ul li .plus_btn:after{content:'';display:block;clear:both;position:absolute;top:9px;right:6px;width:7px;height:1px;background-color:#333}


.product_content_box2 .product_list .product_category{float:left;width:100%;}


.product_content{width:100%;}
.product_content_box{width:100%;padding-left:300px;position:relative;box-sizing:border-box;}
.product_content_box .product_banner{}
.product_content_box .product_banner img{width:100%;padding-bottom:80px;}
.product_content_box .product_list{}
.product_content_box .product_list .product_category{float:left;width:100%;}
.product_content_box .product_list .product_category:after{content:'';display:block;clear:both;}
.product_content_box .product_list .product_category .title{float:left;font-weight:700;line-height:24px;}
.product_content_box .product_list .product_category ul{float:right;}
.product_content_box .product_list .product_category ul li{font-size:12px;float:left;line-height:24px;}
.product_content_box .product_list .product_category ul li:after{content:'/';display:inline-block;padding:0 10px;}
.product_content_box .product_list .product_category ul li:last-child:after{display:none;}

.product_list_box{float:left;margin-top:40px;margin:40px -.5% 0 -.5%}
.product_list_box li{float:left;width:32.3333%;position:relative;margin:0 .5% 1% .5%}
.product_list_box li .icon{position:absolute;top:10px;right:10px;z-index:20;}
.product_list_box li .product_infor{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgb(0,0,0,.4);}
.product_list_box li .product_infor a{display:table;width:100%;height:100%}
.product_list_box li .product_infor a .product_name{display:table-cell;vertical-align:bottom;font-size:12px;font-weight:500;padding:20px}
.product_list_box li .product_infor a .product_name p{line-height:18px;}
.product_list_box li .product_infor a .product_name p,
.product_list_box li .product_infor a .product_name p span{color:#fff;}
.product_list_box li .product_infor a .product_name p:first-child + p{margin-top:20px;}
.product_list_box li .product_infor a .product_name p:first-child + p + p + p{margin-top:20px;}



.product_list_box li .product_infor a .product_name .price{text-decoration:line-through;}

.product_list_box li .product_img{}
.product_list_box li .product_img img{width:100%;}
.product_list_box li .icon,
.product_list_box li .product_infor{transition:.6s;opacity:0;}
.product_list_box li .icon div a img {width:20px;}
.product_list_box li:hover .icon,
.product_list_box li:hover .product_infor{opacity:1;}


.next_page{width:100%;float:left;text-align:center;padding-top:30px;padding-bottom:60px;line-height: 20px;font-size:12px;}
.next_page a{font-family:'Poppins',sans-serif;}
.next_page a.first{padding-right:50px;margin-right:20px;padding-bottom:2px;color:#777;font-weight:400;font-size:12px;border-bottom:1px solid #777;}
.next_page a.prev{padding-right:20px;margin-right:10px;padding-bottom:2px;color:#111;font-weight:400;font-size:12px;border-bottom:1px solid #111;}
.next_page ul{display:inline-block;padding-left:15px;}
.next_page li{display: inline-block;margin-left:15px;}
.next_page li:last-child{margin-right:30px;}
.next_page a.next{padding-left:20px;margin-left:20px;padding-bottom:2px;color:#111;font-weight:400;font-size:12px;border-bottom:1px solid #111;}
.next_page a.last{padding-left:50px;margin-left:10px;padding-bottom:2px;color:#777;font-weight:400;font-size:12px;border-bottom:1px solid #777;}


/* 콜라보배너 페이지*/
.collabo_banner{padding-left:300px;}
.collabo_banner img{width:100%;padding-right:70px;}
.collabo_banner_text{text-align:center;padding-top:10px;padding-bottom:100px;font-size:18px;font-weight:700;}



/* 프레스 페이지*/

.press_list{margin-top:100px;margin-left:70px;margin-right:70px;}
.press_list_title{font-size:20px;font-weight:700;margin-bottom:45px;border-bottom:solid 1px #111;padding-bottom:30px;}
.press_list ul {width:100%;}
.press_list ul li{float:left;width:33%;margin-bottom:45px;margin-right:5px;}
.press_imgtext_list:after{content:'';display:block;clear:both;}
.press_list_img img{width:100%;}
.press_list_text{margin-top:10px;}


.press_next_page{width:100%;float:left;text-align:left;padding-left:70px;line-height:20px;padding-bottom:50px;padding-top:50px;}
.press_next_page a{font-family:'Poppins',sans-serif;}
.press_next_page a.press_prev{padding-right:20px;margin-right:20px;padding-bottom:2px;color:#111;font-weight:400;font-size:12px;border-bottom:1px solid #111;}
.press_next_page a.press_next{padding-left:20px;margin-left:20px;padding-bottom:2px;color:#111;font-weight:400;font-size:12px;border-bottom:1px solid #111;}
.press_next_page ul{display:inline-block;padding-left:15px;}
.press_next_page li{display: inline-block;margin-left:15px;}
.press_next_page li:last-child{margin-right:30px;}



/*스탁리스트 페이지*/
.stockist_list{padding-bottom:100px;}
.stockist_list:after{content:'';display:block;clear:both;}
.stockist_banner{width:100%;}
.stockist_title{text-align:center;padding-top:100px;padding-bottom:50px;font-size:20px;}
.stockist_mini_title{text-align:center;padding-bottom:50px;font-weight:700;font-size:20px;}


.stockist.swiper-container{width:49%;float:left;}
.stockist_text{float:left;width:51%;background-color:#f4f4f4;padding:80px;box-sizing:border-box;}
.stockist_text p{margin-bottom:10px;}
.stockist_text p:first-child{font-size:18px;padding-bottom:20px;font-weight:700;}
.stockist_text p:last-child{margin-top:30px;}


.stockist.swiper-slide{text-align:center;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}

.stockist{}
.stockist img{width:100%;}



.stockist_online_list{width:100%;}
.stockist_path{width:100%;text-align:center;font-size:20px;font-weight:700;margin:50px 0;}
.stockist_online_wrap{background-color:#eeede8;padding:30px 0 60px;}
.stockist_online_wrap_list{text-align:center;}
.stockist_online_wrap_list ul {width:60%;display:inline-block;width:60%;line-height:1.6em;padding:1.5% 0;border-bottom:1px solid #9fa0a0;margin:0 auto;}
.stockist_online_wrap_list ul li{width:25%;padding:0px 40px;vertical-align:middle;float:left;text-align:left;}
.stockist_online_wrap_list ul li .online_adress{width:35%;text-align:center;}
.stockist_online_wrap_list ul li .offline_tel{width:30%;text-align:right;}
.stockist_online_wrap_list ul li .online_link{width:25%;}
.stockist_online_wrap_list ul li:last-child{text-align:right;}

.online_link a{color:#1d5b8f;}

.stockist_global{}
.stockist_global_banner{width:100%;text-align:center;font-weight:700;margin:100px 0;font-size:20px;}
.stockist_global_img{width:100%;text-align:center;margin-bottom:100px;}
.stockist_global_img img{width:60%;}













