.tti_banner{width:100%;height:35px;line-height:35px;background-color:#111;text-align:center;color:#fff;}

.logo{float:left;width:200px;padding-top:15px;margin-left:70px;padding-bottom:15px;height:60px;box-sizing:border-box;}
.logo img{width:100%}

.header{width:100%;top:0;left:0;z-index:10;border-bottom:solid 1px #111;}
.header:after{content:'';display:block;clear:both;}
.header_left{float:left;}
.category_menu{float:left;margin-left:30px;}
.category_menu a{font-size:14px;padding:23px 15px;display:inline-block}
.category_menu a:first-child{padding-left:0;}
.header_sub_menu{float:right;padding-top:22px;padding-right:70px;}
.header_sub_menu div{float:left;font-size:14px;line-height:18px;color:#111;padding:0 15px}
.header_icon_box span{color:red}
.header_icon_box img{float:left;height:14px;margin-top:2px;}
.header_icon_box a{float:left;margin-left:10px;}
.header_icon_box a:first-child{margin-left:0}

.main_visual{}
.main_visual img{width:100%;}
a {text-decoration:none ; color:#111}
a:hover {text-decoration:none ; color:#111}

.center_text{padding-top:100px;text-align:center;}
.center_text p {text-align:center;padding-top:15px;}
.center_text p:first-child{font-size:20px;padding-top:0;padding-bottom:15px;}
.center_text img{padding-top:15px;}
.center_banner{;padding-top:50px;padding-bottom:100px;font-size:14px;}
.center_banner:after{content:'';display:block;clear:both;}
.center_banner ul{padding-right:70px;}
.center_banner .list{width:33.333333%;float:left;box-sizing:border-box;padding-left:70px;}
.center_banner .list:first-child{}
.center_banner .list .list_box{}
.center_banner .list img{width:100%;}
.center_banner .text{}
.center_banner .text p{padding-top:10px;}
.center_banner .text p:first-child span{font-weight:normal;}
.center_banner .text p:first-child{font-weight:700;padding-top:40px;}
.flag_banner{background-image:url(../img/flagbanner.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;background-attachment:fixed;font-size:14px;}
.flag_banner p{text-align:center;padding-top:15px;}
.flag_banner p:first-child{font-weight:700;padding-top:100px;font-size:18px;}
.flag_banner p:last-child{padding-bottom:100px;}
.last_banner{width:100%;font-size:14px;}
.last_banner:after{content:'';display:block;clear:both;}
.last_banner .list{width:50%;float:left;box-sizing:border-box;position:relative;}
.last_banner .list img{float:left;width:100%;}
.last_banner .list_text_1{position:absolute;color:#fff;text-align:right;top:90%;right:3%;font-weight:700;}
.last_banner .list_text_2{position:absolute;color:#fff;text-align:left;top:90%;left:3%;font-weight:700;}
.footer{float:left;width:100%;padding:65px 55px;background-color:#fff;position:relative;box-sizing:border-box;background-color:#f8f8f8;font-size:14px;}

.infor_box dl{float:left;width:23%;}
.infor_box dl dt{margin-bottom:19px;font-weight:700;}
.infor_box dl dd{font-size:14px;line-height:20px;color:#444;}
.infor_box dl:last-child{width:31%;}

.infor_box{float:left;width:60%;box-sizing:border-box;}
.address{float:left;width:37%;box-sizing:border-box;margin-left:3%;}

.address dl{}
.address dl dt{margin-bottom:19px;font-weight:700;}
.address dl dd{font-size:14px;line-height:20px;color:#444;}
.infor_flag{padding-top:15px;font-size:16px;font-weight:700;}

.quickmenu{position:fixed;right:25px;bottom:20px;z-index:50;}
.quickmenu ul li{list-style:none;padding:5px;}